@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');*{margin: 0;padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;overflow-x: hidden;}

body{
  background-image: url(bus.png);
  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
  min-height:100vh;
  display:flex;
  justify-content:center;
}

button {
  margin: 20px;
}
.custom-btn {
  width: 200px;
  height: 60px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Raleway', sans-serif;
  /* font-weight: 500; */
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-1 {
  left: 100px;
  background: rgb(75, 208, 241);
  background: linear-gradient(0deg, rgb(113, 209, 233) 0%, rgba(12, 180, 166, 0.411) 100%);
  border: none;
}
.btn-1:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

#title{
  overflow:hidden;
  color:#fff;
  padding:120px calc(15% - 60px);
  font-family:"Raleway", sans-serif;
  font-size: 100px;
  position: relative;
  line-height: 110px;
  left: -60px;
  text-shadow: 2px 2px #7389e9;
}

.head {
  height: 250px;
  width: 100% - 100px;
  /* background: url(https://lh3.googleusercontent.com/RCEutomabhAC-vu6KSmluHWC5ov_2L2YDSVFqQBcpoPchRoRzV7-MPClIMcnaSnZjgT0fYgahw7du7P33UJyJOuDYsQ53FZwnnZ4CI8ySNLqfdqTmTZXGnboUwdBuzYoqJXKyoF7=w2400); */
  overflow: hidden;
  /* background-size: cover; */
  margin:20px 20px 0 20px;
  border-radius:8px;
  /* box-shadow:2px 3px 20px 0 rgba(0,0,0,0.3); */
}

.container {
  margin-right: auto;
  display: block;
  width: 100%;
  float: left;
  max-width:800px;
}
content{
  display:block;
  padding:20px;
  color:#fff;
  opacity:.8;
  padding:30px 15%;
}
h2{
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
  font-weight:800;
  letter-spacing:0.5pt;
}
hr{
  margin:10px 0 10px 0;
  width:30px;
  height:6px;
  background-color:#2980b9;
  border:0;
  text-align:left;
}
p{
  font-size: .9em;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  overflow:hidden;
}