@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

button {
  padding:0px 0px;
}

#html, #body, #aside
{
  height: 100%;
}

#map {
  height:100%;
}

.custom-button {
  color: #fff;
  font-size:  150%;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  cursor: pointer;
  border-style: solid;
  border-color: #fff;
  background: transparent;
  width: min(100% - 30px, 400px);
  line-height:80px;
  display: block;
  margin-left: 15px;
  margin-top: 1px;
}

.custom-button:hover {
   background: rgba(0, 0, 0, 0.2);

}

body { 
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "header header header"
    "aside aside aside"
    "footer footer footer";
	grid-template-rows: min(80px) 150% auto;
	grid-template-columns: 0% 1fr 40% ;
	grid-gap: 5px;
  height: 100%;
  margin: 15px;  
  background-image: url('https://drive.google.com/uc?export=view&id=13RKdt5m9mpKCa1_nPMCHqmP7CMcFY_C8');
}

#btn-1
{
    margin-top: 15px;
}

#gonnaBeOnTheBottom {
    position:absolute;
    bottom:0;
}

footer h6 {
  margin-left: 17px;
  margin-bottom: -10px;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  color: #ffffff;
}

button.link { 
  background:none; 
  border:none; 
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;

}

button.link:hover {
   color: #585858;
}

header {
	background: #707070;
  font-family: 'Oswald', sans-serif;
	grid-area: header;
  position:relative;
  font-size: 30px;
}

section {
	background-color: rgba(0, 0, 0, 0.2);;
	grid-area: section; 
}

aside {
	background: #C9C9C9;
	grid-area: aside; 
  font-family: Oswald, sans-serif;
  font-size: 20px;
}

footer {
	background: transparent;
	grid-area: footer;
}

gap {
	background: #707070;
	grid-area: gap;
}

#text-style{
  margin: 0 0 10px 10px;
  font-family: 'Oswald', sans-serif;
}

subtitle {
	background: #707070;
	grid-area: subtitle;
  position: relative;
  font-size: 20px;
}

header, nav, section, aside, footer {
	padding: 5px;
}
