/*@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');*/

*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('images/bus.png');
    background-size: cover;
    background-position: center;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.header{
  color: #fff;
}


button {
  padding:0px 0px;
}

#html, #body, #aside
{
  height: 100%;
}

#map {
  height:100%;
}

.custom-button {
  color: #fff;
  font-size:  150%;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  cursor: pointer;
  border-style: solid;
  border-color: #fff;
  background: transparent;
  width: min(100% - 30px, 400px);
  line-height:80px;
  display: block;
  margin-left: 15px;
  margin-top: 1px;
}

.custom-button:hover {
   background: rgba(0, 0, 0, 0.2);

}

body { 
	display: grid;
	grid-template-areas: 
    "header header header"
    "aside aside aside"
    "footer footer footer";
	grid-template-rows: min(80px) 700px auto;
	grid-template-columns: 0% 1fr 40% ;
	grid-gap: 50px;
  margin: 15px;  
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('images/bus.png');
  background-size: cover;
  background-position: center;
}

#btn-1
{
    margin-top: 15px;
}

#gonnaBeOnTheBottom {
    position:absolute;
    bottom:0;
}

footer h6 {
  margin-left: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 10px;
  color: #ffffff;
}

button.link { 
  background:none; 
  border:none; 
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;

}

button.link:hover {
   color: #585858;
}

header {
	background: #707070;
	grid-area: header;
  position:relative;
  font-size: 30px;
}

section {
	background-color: rgba(0, 0, 0, 0.2);;
	grid-area: section; 
}

aside {
	background: #C9C9C9;
	grid-area: aside; 
  font-family: Oswald, sans-serif;
  font-size: 20px;
}

footer {
	background: transparent;
	grid-area: footer;
}

gap {
	background: #707070;
	grid-area: gap;
}

#text-style{
  margin: 0 0 10px 10px;
}

subtitle {
	background: #707070;
	grid-area: subtitle;
  position: relative;
  font-size: 20px;
}

header, nav, section, aside, footer {
	padding: 5px;
}
